schema/module_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="commands">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="command" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="arguments" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="arg" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="description" type="xs:string" minOccurs="0"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required"/>
                                                            <xs:attribute name="type" type="xs:string" default="string"/>
                                                            <xs:attribute name="required" type="xs:boolean" default="true"/>
                                                            <xs:attribute name="default" type="xs:string"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="payload" type="xs:string" minOccurs="0"/>
                                        <xs:element name="print" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="method" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            
        </xs:complexType>
    </xs:element>
</xs:schema>